---
---

<div
  class="hidden md:block border-slate-600 dark:border-slate-800 dark:text-slate-300 mb-8 text-sm text-gray-800 overflow-hidden whitespace-nowrap text-ellipsis"
>
  <svg class="inline mr-2 text-orange-300" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path d="M12 7v6M12 17.01l.01-.011M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  The recommended workers-types date is now experimental. Use today's date as the compatibility date in your Worker.
</div>
